- name: Add Prometheus Helm repository
  shell: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts || true
  changed_when: false

- name: Update Helm repositories
  command: helm repo update
  changed_when: false

- name: Install Prometheus
  command: >
    helm upgrade --install prometheus prometheus-community/prometheus
    --namespace monitoring
    --create-namespace
  changed_when: false

- name: Install Grafana
  command: >
    helm upgrade --install grafana prometheus-community/grafana
    --namespace monitoring
    --create-namespace
  changed_when: false
