- name: Add Argo Helm repository
  command: helm repo add argo https://argoproj.github.io/argo-helm
  changed_when: false
  ignore_errors: true

- name: Update Helm repositories
  command: helm repo update
  changed_when: false

- name: Create argocd namespace
  command: kubectl create namespace argocd
  ignore_errors: true

- name: Install ArgoCD
  command: >
    helm upgrade --install argocd argo/argo-cd
    --namespace argocd
  changed_when: false
